In [5]:
import os
from supabase import create_client
import pandas as pd
from dotenv import load_dotenv
load_dotenv()
supabase=create_client(os.getenv("SUPABASE_URL"),os.getenv("SUPABASE_KEY"))
data=supabase.table("titanic_data").select("*").execute()
df=pd.DataFrame(data.data)
(df.head())
(df.tail())
print(df.isnull().sum())
print(df.columns)

id             0
survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
deck           0
embark_town    2
alone          0
family_size    0
is_alone       0
title          0
dtype: int64
Index(['id', 'survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'deck', 'embark_town', 'alone',
       'family_size', 'is_alone', 'title'],
      dtype='object')