In [5]:
import pandas as pd
df = pd.read_csv(r'C:\Users\reshmitha\Downloads\WA_Fn-UseC_-Telco-Customer-Churn.csv', encoding='ISO-8859-1')
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [6]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [15]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [9]:
df['TotalCharges']=pd.to_numeric(df['TotalCharges'],errors='coerce')

✔ Cleaning Tasks
Convert "TotalCharges" to numeric (dataset has spaces → become NaN).
Fill missing numeric values using:
Median for tenure, MonthlyCharges, TotalCharges.
Replace missing categorical values with "Unknown".
✔ Feature Engineering
Create the following new columns:
1. tenure_group
Based on tenure months:
0–12   → "New"
13–36  → "Regular"
37–60  → "Loyal"
60+    → "Champion"
2. monthly_charge_segment
MonthlyCharges < 30  → "Low"
30–70              → "Medium"
> 70                 → "High"
3. has_internet_service
Convert InternetService column:
"DSL" / "Fiber optic" → 1
"No" → 0
4. is_multi_line_user
1 if MultipleLines == "Yes"
0 otherwise
5. contract_type_code
Map:
Month-to-month → 0
One year      → 1
Two year      → 2
✔ Drop unnecessary fields
Remove:
customerID, gender

In [13]:
df['TotalCharges']=df['TotalCharges'].fillna(df['TotalCharges'].median())

In [23]:
def tenure_category(x):
    if x <= 12:
        return 'New'
    elif x <= 36:
        return 'Regular'
    elif x <= 60:
        return 'Loyal'
    else:
        return 'Champion'

df['tenure_group'] = df['tenure'].apply(tenure_category)

In [24]:
def mon_charge(t):
    if(t<30):
        return 'Low'
    elif(t>=30 and t<=70):
        return 'Medium'
    else:
        return "High"
df['monthly_charge_segment']=df['MonthlyCharges'].apply(mon_charge)

In [25]:
def has_net(t):
    if(t=='DSL' or t=='Fiber optic'):
        return 1
    else:
        return 0
df['has_internet_service']=df['InternetService'].apply(has_net)

In [26]:
def multi_line(t):
    if(t=='Yes'):
        return 1
    else:
        return 0
df['is_multi_line']=df['MultipleLines'].apply(multi_line)

In [31]:
def contract_type(x):
    if x=='Month-to-month':
        return 0
    elif x=='One year':
        return 1
    elif x=='Two year':
        return 2
df['contract_type_code']=df['Contract'].apply(contract_type)

In [32]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,tenure_group,monthly_charge_segment,has_internet_service,is_multi_line,contract_type_code
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,Yes,Electronic check,29.85,29.85,No,New,Low,1,0,0
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,Mailed check,56.95,1889.50,No,Regular,Medium,1,0,1
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,Yes,Mailed check,53.85,108.15,Yes,New,Medium,1,0,0
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,No,Bank transfer (automatic),42.30,1840.75,No,Loyal,Medium,1,0,1
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,Yes,Electronic check,70.70,151.65,Yes,New,High,1,0,0

In [33]:
df.drop(columns=['customerID','gender'])

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,...,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,tenure_group,monthly_charge_segment,has_internet_service,is_multi_line,contract_type_code
0,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,...,Yes,Electronic check,29.85,29.85,No,New,Low,1,0,0
1,0,No,No,34,Yes,No,DSL,Yes,No,Yes,...,No,Mailed check,56.95,1889.50,No,Regular,Medium,1,0,1
2,0,No,No,2,Yes,No,DSL,Yes,Yes,No,...,Yes,Mailed check,53.85,108.15,Yes,New,Medium,1,0,0
3,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,...,No,Bank transfer (automatic),42.30,1840.75,No,Loyal,Medium,1,0,1
4,0,No,No,2,Yes,No,Fiber optic,No,No,No,...,Yes,Electronic check,70.70,151.65,Yes,New,High,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,...,Yes,Mailed check,84.80,1990.50,No,Regular,High,1,1,1
7039,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,...,Yes,Credit card (automatic),103.20,7362.90,No,Champion,High,1,1,1
7040,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,...,Yes,Electronic check,29.60,346.45,No,New,Low,1,0,0
7041,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,...,Yes,Mailed check,74.40,306.60,Yes,New,High,1,1,0
7042,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,...,Yes,Bank transfer (automatic),105.65,6844.50,No,Champion,High,1,0,2

In [34]:
df.reset_index()

,index,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,tenure_group,monthly_charge_segment,has_internet_service,is_multi_line,contract_type_code
0,0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,...,Yes,Electronic check,29.85,29.85,No,New,Low,1,0,0
1,1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,...,No,Mailed check,56.95,1889.50,No,Regular,Medium,1,0,1
2,2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,...,Yes,Mailed check,53.85,108.15,Yes,New,Medium,1,0,0
3,3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,...,No,Bank transfer (automatic),42.30,1840.75,No,Loyal,Medium,1,0,1
4,4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,...,Yes,Electronic check,70.70,151.65,Yes,New,High,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,...,Yes,Mailed check,84.80,1990.50,No,Regular,High,1,1,1
7039,7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,...,Yes,Credit card (automatic),103.20,7362.90,No,Champion,High,1,1,1
7040,7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,...,Yes,Electronic check,29.60,346.45,No,New,Low,1,0,0
7041,7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,...,Yes,Mailed check,74.40,306.60,Yes,New,High,1,1,0
7042,7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,...,Yes,Bank transfer (automatic),105.65,6844.50,No,Champion,High,1,0,2